{% extends "core/base.html" %}

{% block title %} Добро пожаловать {% endblock %}

{% block content %}
    <body>
        <br>
        <br>

        <div class="text-center">
            <h3>Мой магазин... Менеджмент клиентов и продаж это прекрасно</h3>
            <br>
            <h5>Продавайте товары эфективно и правильно</h5>
            <hr>
            <br>
            <a href="{% url 'signup' %}" type="button" class="btn btn-primary">Создай аккаунт &nbsp; <i class="fa fa-user-plus"></i></a>
        </div>
    </body>
{% endblock %}